.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #0056b3;
}

.upload-btn-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}